<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlhan.basics">

    <application>
        <activity android:name=".multithread.StopThreadActivity"></activity>
        <activity android:name=".multithread.RunThreadActivity" />
        <activity android:name=".view.CustomViewGroupActivity" />
        <activity android:name=".view.CustomViewActivity" />
        <activity android:name=".view.ViewActivity" />
    </application>

</manifest>